{% extends 'header.html' %}

{% block nav %}

	 <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <!--<ol>
          <li><a href="blog.html">register page</a></li>
        </ol> -->
      </div>
    </section>

{% endblock nav %}

{% block head-content %}
    <section class="inner-page pt-3 contact" id="contact">
      <div class="container">
      	<h3>Enter new password</h3>
      	<div class="php-email-form">

			<p>Please enter your new password twice so we can verify you typed it in correctly</p>

			<form method="post" class="passwordreset">

				{% csrf_token %}
				{{form}}
				<button type="submit">send</button>
				
			</form>
		</div>

      </div>
    </section>

{% endblock head-content %}